/* change color css */
#container-change-color{
    display:flex;
    justify-content:center;
    height: 100vh;
    align-items: center;
}

#changeColorButton{
    width:200px;
    height: 100px;
    font-weight: bold;
    background-color:#0099ff;
    border-radius:15px;
    color: #fff;
    box-shadow: 12px 12px #000;
    transition:background-color .2s ease-in-out;
}
 
#changeColorButton:hover{
    background-color: #0066ff;
}