html,body{
    height:100vh;
    margin: 0; 
    padding: 0; 
}
body{
    background-color: #ccc;
    
    text-align: center;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header{
    grid-area: "header";
}
main{
    grid-area: "main";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
}


/* estilos para el code-container */
#code-container .box {
    background-color: #656464;
    width: 100%;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 200px;
    border: 1px solid #eceece;
    

}



/* Estilos para las pestañas */
.tabs {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tablink {
    background-color: #515151;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    transition: background-color 0.3s;
    margin:0;
}

.tablink:hover {
    background-color: #ddd;
}
.tablink.html {
    color: #ff9999; /* Color para HTML */
    border-radius: 15px 0px 0px 0px;
}

.tablink.css {
   color: #99ccff; /* Color para CSS */
}

.tablink.js {
    color: #d5ff00; /* Color para JavaScript */
    border-radius: 0px 15px 0px 0px;
}


/* Estilos para el contenido de las pestañas */
.tabcontent {
    display: none;
 
    width: 100%;
    height: 100%;
}

/* Estilo para mostrar el contenido activo */
#htmlTab, #cssTab, #jsTab {
    display: block;
}


footer{
    grid-area: "footer";
    background-color: #515151;
    color: #fff;
    /* height: 40px; */
    padding: 20px;
    max-height: 100px;
 
}
#result-container {
    width: 100%;        
    height: 500px; 
    border: 1px solid #ccc; 
}

#result-frame {
    width: 80%;         
    height: 80%;
    /* border: n;  */
}
/* Media query para pantallas con un ancho mínimo de 1024px (computadoras) */
@media screen and (min-width: 780px) {
    /* Estilos para computadoras */
    
    body {
        font-size: 16px;
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        width: 80%;
        height: 500px;
    }
    #code-container .box {
        width: 400px;
        height: 400px;
    }
    
    #result-container {
        width: 100%;        
        height: 500px; 
        border: 1px solid #ccc; 
    }
    
    #result-frame {
        margin-top: 40px;
        width: 80%;         
        height: 80%;
        /* border: n;  */
      }
    .tablink {
        padding: 10px 47px;
    }
    
    textarea {
        width: 390px;
        height: 390px;
      }
}
